<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <br />
                <h4>Tambah Data Baru</h4>
                <br />
                <!-- prevent form submit untuk reload halaman, kemudian memanggil function addData() -->
                <form @submit.prevent="addData()">
                    <div class="form-group">
                        <label>First name</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="First name..."
                            v-model="form.firstName"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Last name..."
                            v-model="form.lastName"
                        />
                    </div>
                    <div class="form-group">
                        <label>Skill</label>
                        <textarea
                            class="form-control"
                            placeholder="Skill..."
                            rows="2"
                            v-model="form.skill"
                        ></textarea>
                    </div>
                    <button class="btn btn-primary">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                firstName: "",
                lastName: "",
                skill: ""
            }
        };
    },
    methods: {
        addData() {
            // post data ke api menggunakan axios
            axios
                .post("api/person", {
                    first_name: this.form.firstName,
                    last_name: this.form.lastName,
                    skill: this.form.skill
                })
                .then(response => {
                    // push router ke read data
                    this.$router.push("/");
                });
        }
    }
};
</script>
