<template>
    <div>
        <!-- Menggunakan bootstrap untuk design tabel nya. secara default bootstrap sudah di include di file welcome.blade.php jadi tidak perlu lagi untuk import file nya -->
        <nav class="navbar navbar-dark" style="background-color: #5d6064">
            <a class="navbar-brand" href="#">SAUDARA RUKUN BERSAMA</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <h4>Persons Data</h4>
                    </div>
                    <div class="col-md-2">
                        <!-- push router ke form membuat data -->
                        <router-link class="btn btn-primary w-100" to="/create"
                            >Tambah</router-link
                        >
                    </div>
                </div>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Skill</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- menampilkan data ke table -->
                        <tr v-for="person in persons" :key="person.id">
                            <td style="width:25%">{{ person.first_name }}</td>
                            <td style="width:25%">{{ person.last_name }}</td>
                            <td style="width:25%">{{ person.skill }}</td>
                            <td>
                                <router-link
                                    class="btn btn-warning"
                                    :to="'/detail/' + person.id"
                                    >Edit</router-link
                                >
                                <button
                                    class="btn btn-danger"
                                    v-on:click="deleteData(person.id)"
                                    onClick="return confirm('Yakin mau dihapus')"
                                >
                                    Hapus
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<!-- script js -->
<script>
export default {
    data() {
        return {
            // variable array yang akan menampung hasil fetch dari api
            persons: []
        };
    },
    created() {
        this.loadData();
    },
    methods: {
        loadData() {
            // fetch data dari api menggunakan axios
            axios.get("api/person").then(response => {
                // mengirim data hasil fetch ke varibale array persons
                this.persons = response.data;
            });
        },
        deleteData(id) {
            // delete data
            axios.delete("api/person/" + id).then(response => {
                this.loadData();
            });
        }
    }
};
</script>
